.buttonDownload{
    background-color: #97a497;
    border-radius: 10px;
    width: 100px;

    
}

.backbtn1{
    color: white;
    margin-top: 10px;


    text-decoration: none;
    text-align: center;
    align-items: center;
}